.Card {
  cursor: pointer;
  margin: 40px 20px;
  padding-bottom: 20px;
}

.Content {
  padding: 10px;
  text-align: center;
}

.ProfilePicContainer {
  text-align: center;
}

.ProfilePic {
  height: 500px;
  background-size: cover;
  background-position: center;
}