.Header {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}

.NameContainer {
  padding: 50px;
}

.GalleryContainer {
  padding: 50px;
}

.GalleryItemContainer {
  padding: 10px;
}