@mixin BookingActionContainer {
  padding: 1rem;
  width: 100%;
}

.NewBookingActionContainer {
  @include BookingActionContainer;

  & .AddRemoveBtn {
    height: 100%;
    width: 100%;
  }
}

.OfferedBookingActionContainer {
  @include BookingActionContainer;

  & h3 {
    text-align: center;
  }
}