@import 'src/assets/css/variables';

.Title {
  text-align: center;
}

.ArtistTile {
  margin: 50px 0 0 0;
}

.CustomerTile {
  margin: 50px 0 0 0;
}

.LogoutLinkContainer {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: $sm-breakpoint) {
  .Title {
    margin-bottom: 30px;
  }

  .ArtistTile {
    margin: 0;
  }

  .CustomerTile {
    margin: 0 0 0 50px;
  }

  .LogoutLinkContainer {
    margin-top: 25px;
  }
}